<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="container">
    <% if user_signed_in? %>
      <a class="navbar-brand text-uppercase"><%= current_user.nombre + ' ' +current_user.apellidos %></a>
    <% else %>
      <a class="navbar-brand" href="#">Tienda ABC</a>
    <%end %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
            <span class="sr-only">(current)</span> <i class="fas fa-home ml-2"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About<i class="fas fa-address-card ml-2"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Services<i class="fab fa-xbox ml-2"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact<i class="fas fa-id-card ml-2"></i></a>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Cerrar Sesion", destroy_user_session_path, method: :delete, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Ver productos", :productos, class: 'nav-link'  %>
          </li>
          <li class="nav-item">
            <%= link_to "Editar Perfil", :edit_user_registration, class: 'nav-link'  %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Iniciar Sesion", new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Registro", new_user_registration_path, class: "nav-link" %>
          </li>
        <%end %>
      </ul>
    </div>
  </div>
</nav>
