<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="container">
    <% if user_signed_in? %>
      <a class="navbar-brand text-uppercase"><%= current_user.nombre + ' ' +current_user.apellidos %></a>
    <% else %>
      <a class="navbar-brand" href="#">Tienda ABC</a>
    <%end %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
          <a class="nav-link" href="#">Home
            <span class="sr-only">(current)</span> <i class="fas fa-home ml-2"></i>
          </a>
        </li>

        <li class="nav-item dropdown">
          <% if user_signed_in? && current_user.admin? %>
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Admin<i class="fas fa-user-tie ml-2"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <%= link_to "Ver productos", :productos, class: 'dropdown-item' %>
              <%= link_to "Ver categorias", :categories, class: 'dropdown-item' %>
              <%= link_to "Ver carrito", :cards, class: 'dropdown-item' %>
            </div>
        <% else %>
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Usuario
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <%= link_to "Ver productos", :productos, class: 'dropdown-item' %>
              <%= link_to "Ver categorias", :categories, class: 'dropdown-item' %>
              <%= link_to "Ver carrito", :cards, class: 'dropdown-item' %>
            </div>
        <%end %>

        </li>

        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Cerrar Sesion", destroy_user_session_path, method: :delete, class: "nav-link" %>

          </li>
          <li class="nav-item">
            <%= link_to "Mi Perfil", :edit_user_registration, class: 'nav-link'  %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Iniciar Sesion", new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Registro", new_user_registration_path, class: "nav-link" %>
          </li>
        <%end %>
      </ul>
    </div>
  </div>
</nav>
