<% @title="HomePage" %>
<div class="container">
  <%= render 'partials/carousel' %>
  <div class="row mt-3">
    <div class="col-md-4">
      <div class="card mb-4 box-shadow text-white" style="background-color: #00695c">
        <%= image_tag "001.png", class: 'card-img-top' %>
        <div class="card-body">
          <p class="card-text">El innovador diseño del Cloud Alpha de HyperX™ con tecnología de altavoces con cámara doble te brindará un sonido con mayor nivel de nitidez y claridad gracias a la reducción de distorsión.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 default-color-dark">
      <div class="card mb-4 box-shadow text-white" style="background-color: #0d47a1" >
        <%= image_tag "002.jpg", class: 'card-img-top' %>
        <div class="card-body">
          <p class="card-text">Adicionalmente, este exclusivo parlante incluye entrada USB, Micro SD, Bluetooth, entrada auxiliar y radio brindándote así variabilidad para que conectes todos tus dispositivo</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 box-shadow text-white" style="background-color: #c30000">
        <%= image_tag "003.jpg", class: 'card-img-top' %>
        <div class="card-body">
          <p class="card-text">El Galaxy A21s presenta la pantalla pantalla HD que crea una experiencia visual sin interrupciones, gracias a su gama de colores vibrantes que cuentan con un exclusivo efecto 3D de brillo.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 box-shadow text-white" style="background-color: #34515e">
        <%= image_tag "004.jpg", class: 'card-img-top' %>
        <div class="card-body">
          <p class="card-text"> La PS4 disfruta de juegos increíbles, conectados y dinámicos para un entretenimiento sin fin, con poderosos gráficos y alta velocidad</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 box-shadow text-white" style="background-color: #5c007a">
        <%= image_tag "005.jpg", class: 'card-img-top' %>
        <div class="card-body">
          <p class="card-text">la Xbox Series S y crea una biblioteca de juegos digitales.Tus juegos, partidas guardadas y copias de seguridad están a salvo en la nube.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 box-shadow text-white" style="background-color: #4b2c20">
        <%= image_tag "006.jpg", class: 'card-img-top' %>
        <div class="card-body">
          <p class="card-text">Se utiliza para almacenar los formatos audiovisuales especificados por ISO/IEC y el grupo MPEG al igual que otros formatos audiovisuales disponibles.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>