<section class="text-center">
  <div class="container">
    <h1 class=""><%= @producto.nombre %></h1>
  </div>
</section>
<hr>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <div class="marco">
      <div class="fotoproducto">
        <a href="#"><%= image_tag @producto.image, style: "display:block" , class: "card-img-top" if @producto.image.attached?%></a>
      </div>
      <div class="descripcionProducto">
        <h2><%= @producto.nombre %></h2>
        <h4>Producto Tecnologico</h4>
        <h1>$<%= @producto.precio %></h1>
        <p><%= @producto.descripcion %></p>
          <% if user_signed_in? && current_user.admin? %>
            <%= link_to "Eliminar", @producto, method: :delete ,data: { confirm: 'Estas Seguro?' }, class: "botonProducto"%>
            <%= link_to "Editar", edit_producto_path, class: "botonProducto" %>

          <% end %>
          <%= link_to 'Regresar', productos_path, class: 'botonProducto'  %>
      </div>
    </div>


